@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");

.button {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 20px;
  background: rgb(92, 110, 103);
  margin-left: 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto Serif", serif;
}

.button:hover {
  background-color: rgb(37, 36, 36);
  transition: 2s;
}
