@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
.form {
  background: #fff159;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Serif", serif;
}

.input {
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 20px;
  width: 100%;
}
.input::-webkit-input-placeholder {
  font-family: "Roboto Serif", serif;
}

.mlLogo {
  width: 44px;
  min-width: 44px;
  height: 32px;
  display: inline-block;
  background: no-repeat;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/logo__small.png);
  margin-right: 6px;
}
